<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title> Twitdao | {{ owner_user.name }}</title><link rel="stylesheet" href="/css/m.css" type="text/css"></head><body>
<h1><a href="/m/u-/home" id="logo">Twitdao</a></h1>{% if tip %}<p class="n">{{ tip }}</p>{% endif %}
{% include "mobile/nav-top.html" %}
{% block main %}{% endblock main %}
{% include "mobile/nav-bottom.html" %}
</body></html>