{% extends "base.html" %}

{% block head %}
{% if owner_user %}{% include "inc/user-style.html" %}{% endif %}
{% endblock head %}

{% block main %}
<div id="Confirm">
<div class="confirm-heading">{% block heading %}{% endblock heading %}</div>
<div class="tweet">
		<div class="tweet-img"><img src="{% if tweet.retweeted_status %}{{ tweet.retweeted_status.user.profile_image_url }}{% else %}{{ tweet.user.profile_image_url }}{% endif %}" width="48" height="48" /></div>
		<div class="tweet-heading"><span><a href="/t/{% if tweet.retweeted_status %}{{ tweet.retweeted_status.user.screen_name }}{% else %}{{ tweet.user.screen_name }}{% endif %}">{% if tweet.retweeted_status %}{{ tweet.retweeted_status.user.screen_name }}{% else %}{{ tweet.user.screen_name }}{% endif %}</a></span> <span>{% if tweet.retweeted_status %}{{ tweet.retweeted_status.user.name }}{% else %}{{ tweet.user.name }}{% endif %}</span>{% if tweet.retweeted_status %}<span> Retweeted by <a href="/t/{{ tweet.user.screen_name }}">{{ tweet.user.screen_name }}</a></span>{% endif %}</div>
	<div class="tweet-body">{% if tweet.retweeted_status %}{{ tweet.retweeted_status.text }}{% else %}{{ tweet.text }}{% endif %}</div>
</div>
<div id="ConfirmAction">
	<form action="{% block action %}{% endblock action %}" method="post" />
	<input type="submit" value="{% block button %}{% endblock button %}" />
	<input type="button" value="Cancel" onclick="javascript:history.go(-1);" />
	</form>
</div>
</div>
{% endblock main %}

{% block side %}
{% include "inc/side.html" %}
{% endblock side %}