{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block head %}<script src="/js/common.js"></script>
<script src="/js/tweet.js"></script>
<script type="text/javascript">
$(function(){
	var m = more('/x/home/more', {'max_id': {{ max_id|to_json }} } );
	var ref=refresh('/x/home/refresh', {'since_id':{{ since_id|to_json }} });
	ref.start();
});
</script>
{% if owner_user %}{% include "inc/user-style.html" %}{% endif %}
{% endblock head %}
{% block main %}
{% include "inc/tweet-form.html" %}
{% include "inc/main-nav.html" %}
<div id="Timeline">
	<div id="Tlheading">
		<div>Home</div>
		<div id="LiveBar">
			<div id="Pause"></div>
			<div id="Mode"></div>
		</div>
	</div>
	<div id="Notifier"></div>
	<ul class="tweets">
	{% if timeline %}
	{% for tweet in timeline %}
		{% include "inc/tweet.html" %}
	{% endfor %}
	{% else %}
		<li class="nothing">No tweets here.</li>
	{% endif %}
	</ul>
	{% if max_id %}<div id="pagination"><img class="loading" src="/images/loading.gif" alt="loading" /><a class="more" href="{{ self.current }}?max_id={{ max_id }}">More</a></div>{% endif %}
</div>
{% endblock main%}

{% block side %}
{% include "inc/side.html" %}
{% endblock side %}