{% extends "settings-base.html" %}

{% block title %}{% endblock title %}

{% block head %}
<script type="text/javascript">
</script>
<style type="text/css">
</style>
{% endblock head %}

{% block main %}
<div id="Settings">
	<div class="heading">Twitdao Settings:</div>
	<div>
	<form method="post">
	<table>
	<tr>
		<td><label for="Td_show_media">Show Media</label></td>
		<td>
			<input type="checkbox" name="show_media" id="Td_show_media" value="True"{% if token.settings.show_media %} checked="checked"{% endif %} />
		</td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Save" /></td>
	</tr>
	</table>
	</form>
	</div>
</div>
{% endblock main%}