<div id="ListForm">
	<div class="heading">Create/Edit list.</div>
	<form action="" method="post" />
	<table>
	<caption></caption>
	<tr>
		<td class="labels"><label for="ListName">List name</label></td>
		<td><input id="ListName" name="name" type="text" value="{{ list.name }}" /></td>
	</tr>
	<tr>
		<td valign="top"><label for="ListDescription">Description</label></td>
		<td>
			<textarea id="ListDescription" name="description">{{ list.description }}</textarea>
			<div class="list-bio-tip">Under 100 charaters, optional</div>
		</td>
	</tr>
	<tr>
		<td valign="top"><label>Privacy</label></td>
		<td>
			<div><label><input name="mode" type="radio" value="public"{% ifnotequal list.mode "private" %} checked="checked"{% endifnotequal %} />Public</label> -- Anyone can subscribe to this list.</div>
			<div><label><input name="mode" type="radio" value="private"{% ifequal list.mode "private" %} checked="checked"{% endifequal %}  />Private</label> -- Only you can access this list.</div>
		</td>
	</tr>
	</table>
	<div class="action">
		<input type="submit" value="Create/Edit" />
		<input type="button" value="Cancel" onclick="javascript:history.go(-1);" />
	</div>
	</form>
</div>